/*ini settingan awal*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* untuk custom font */
h1,h2,h3,h4,h5,p{
  font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*ini untuk ngescroll nya smooth dan tidak kaku*/
html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px; 
}

/*ini untuk atur body seperti ukuran, warna, jenis font, background tampilan */
body {
  color: white;
  background-color: black;
  background-image: linear-gradient(to bottom right, #1a1a1a, #002582);
  font-family: sans-serif;
  line-height: 1.6;
}

/*untuk atur navbar nya*/
.navbar {
  background-color: black;
  background-image: linear-gradient(to bottom right, #000350, #0801c2);
  position: fixed;
  display: inline-flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 999;
}

.navbar img{
  display: flex;
  justify-content: left;
  width: 5vh;
  height: 5vh;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover,
.navbar a:active {
  color: #fff;
  background-color: #51a8f0;
}

/* ini atur main. padding top biar ga ketutup navbar. diplay buat ngatur posisi content */
main {
  padding-top: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*ini buat atur content per section nya.*/
/*-------Home Section-------*/
#home {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
}

#home img{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);
  z-index: 0;
}

#home h1{
    font-size: 2.9rem;
    margin: 2rem;
    text-shadow: 0 7px black;
}

#home p{
    font-size: 1.5rem;
    text-shadow: 0 4px black;
}

.hero-text{
  position: relative;
  z-index: 1px;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
}

/*-------About Section-------*/

#about{
  padding: 15px;
  margin: 7.5rem 1rem;
  height: 55rem;
  box-shadow: 0 4px 12px rgba(9, 144, 188, 0.6);
  border-radius: 5px;
  color: white;
  background-image: linear-gradient(to bottom right, #2a2929, #0f0f0f);
  text-align: center;
}

#about h2{
  padding: 25px 0 15px 25px;
  font-size: 2rem;
}

.about-content{
  display: flex;
  align-items: center;
  gap: 75px;
  height: 41rem;
  padding: 2rem 3rem;
}

.about-content img{
  border: #555;
  border-radius: 15px;
  width: 25%;
  aspect-ratio: 1/1;
}

.about-content p{
  text-align: justify;
  font-size: 1.5rem;
}

/*-------Project Section-------*/

#project{
  padding: 15px 105px 35px 105px;
  color: white;
  background-image: linear-gradient(to bottom right, #2a2929, #0f0f0f);
  text-align: center;
}

#project h2{
  padding: 25px 0 25px 0;
  font-size: 2rem;
}

.project-content{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 1rem;
  
}

.project-card{
  display: block;
  overflow: hidden;
  border-radius: 15px;
  text-align: justify;
  background-color: black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 12px rgba(9, 144, 188, 0.6); /*ngasih shadow dengan warna dibelakang*/
}

.project-card img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-card .p-text{
  color: white;
  padding: 0rem 1rem 1rem 0rem;
  margin: 1rem;
}

.project-card a{
  text-decoration: none;
}



.project-card:hover {
  transform: translateY(-10px); /* agar saat diklik, naik sedikit */
  box-shadow: 0 12px 24px rgba(9, 144, 188, 0.6); /* shadownya lebih besar sedikit */
}


/* .project-2{
  display: block;
  overflow: hidden;
  border-radius: 15px;
  text-align: justify;
  background-color: black;
}

.project-2 img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-2 .p-text{
  padding: 15px;
}

.project-3{
  display: block;
  overflow: hidden;
  border-radius: 15px;
  text-align: justify;
  background-color: black;
}

.project-3 img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-3 .p-text{
  padding: 15px;
}


.project-4{
  display: block;
  overflow: hidden;
  border-radius: 15px;
  text-align: justify;
  background-color: black;
}

.project-4 img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-4 .p-text{
  padding: 15px;
}

.project-5{
  display: block;
  overflow: hidden;
  border-radius: 15px;
  text-align: justify;
  background-color: black;
}

.project-5 img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-5 .p-text{
  padding: 15px;
}

.project-6{
  display: block;
  overflow: hidden;
  border-radius: 15px;
  text-align: justify;
  background-color: black;
}

.project-6 img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-6 .p-text{
  padding: 15px;
} */
/*-------Contact Form Section-------*/

#contact{
  padding: 10px;
  margin: 7.5rem 1rem;
  width: 70%;
  box-shadow: 0 4px 12px rgba(9, 144, 188, 0.6);
  border-radius: 5px;
  color: white;
  background-image: linear-gradient(to bottom right, #2a2929, #0f0f0f);
  text-align: center;
}

#contact h2{
  padding: 25px 0 25px 0;
  font-size: 2rem;
}

#form{
  display: block;
  text-align: left;
  padding: 1.5rem;
}

#form label{
  display: block;
  margin-bottom: 0.5rem;
  color: #e0e0e0;
  font-weight: bold;
}

#form input{
  width: 100%;
  padding: 0.8rem;
  background-color: #2a2a2a;
  border: 1px solid #444;
  border-radius: 5px;
  color: #e0e0e0;
}

#form textarea{
  width: 100%;
  padding: 0.8rem;
  background-color: #2a2a2a;
  border: 1px solid #444;
  border-radius: 5px;
  color: #e0e0e0;
}

button{
  background: linear-gradient(145deg, #2d2d2d, #3d3d3d);
  color: #e0e0e0;
  padding: 1rem 2rem;
  margin: 1.5rem 0rem 0rem 0rem;
  border: 1px solid #444;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(145deg, #444, #555);
  color: #ffffff;
  border-color: #666;
}

button:active {
  background: linear-gradient(145deg, #222, #333);
  transform: scale(0.98); /* efek menekan */
}

/*-------Footer Section-------*/

footer{
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 0.5rem 1rem 1rem 1rem;
  position: relative;
  font-size: 1rem;
  letter-spacing: 0.5px;
}

.footer-sosmed{
  margin: 1rem;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%); */
}

.footer-sosmed a{
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: #090d7c;
  color: white;
  margin: 0 6px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  text-decoration: none;
  font-size: 24px;
}

.footer-sosmed a:hover{
  background: #6964f5;
}

/* Responsive untuk mobile dengan max-width nya 768px */
@media screen and (max-width: 1200px) {
  /* ----- About Section ----- */
  #about{
    height: auto;
  }
  .about-content{
    display: flex;
    align-items: center;
    gap: 75px;
    height: auto;
    padding: 2rem 3rem;
  }

  #about p{
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
  }

  /* -----Project Section------ */
  #project {
    padding: 1rem;
    width: 100%;
  }

  .project-content {
    gap: 1.5rem;
  }

}

@media screen and (max-width: 768px) {
  /* -----Navbar----- */
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .navbar ul {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .navbar ul.hiddenlist{
    display: none;
  }

  .navbar li {
    margin: 0;
  }

  /* -----Home Section----- */
  #home {
    height: 45rem;
    padding: 2rem 1rem;
  }

  #home img {
    height: 700px;
  }

  .hero-text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
  }

  #home h1 {
    margin: 0.5rem;
    font-size: 2rem;
    text-shadow: 0 2.5px black;
  }

  #home p {
    font-size: 1rem;
    text-shadow: 0 2.5px black;
  }

  /* -----About Section----- */
  #about {
    margin: 5rem 1rem;
    padding: 1rem;
    height: auto;
  }

  #about h2{
    padding: 1rem 2rem;
  }

  #about p{
    font-size: 0.7rem;
    padding: 1rem 1.5rem;
  }

  .about-content {
    flex-direction: column;
    gap: 1.5rem;
    padding: 0;
  }

  /* -----Project Section----- */
  #project {
    padding: 1rem;
    width: 100%;
  }

  .project-content {
    flex-direction: column;
    gap: 1.5rem;
  }


  /* -----Contact Section----- */
  #contact {
    margin: 5rem 1rem;
    padding: 1rem;
    width: auto;
  }

  #form {
    padding: 1rem 0;
  }

  button {
    width: 100%;
    margin-top: 1rem;
  }

  /* ------Footer------ */
  footer {
    padding: 1rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .hero-text h1 {
    font-size: 1.5rem;
  }

  .hero-text p {
    font-size: 0.9rem;
  }

  .navbar ul {
    gap: 0.3rem;
  }

  button {
    font-size: 0.9rem;
    padding: 0.8rem;
  }

}


